<header>
  <nav>
    <ul class="menu">
      <li><a href="/" title="Exemplo">Home</a></li>
      <li><a href="#" title="Setup e template básico">Seção 1</a>
        <ul>
          <li><a href="#">1. Introdução e recursos</a></li>
          <li><a href="#">2. Recursos</a></li>
          <li><a href="/3">3. Setup e template básico</a></li>
          <li><a href="#">4. Renderização com WebGL</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
