<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
    <link rel="stylesheet" href="css/style.css" ></link>
    <title>Setup e Template Básico</title>
  </head>
  <body>
    <% include ../../partials/header %>
      <div id="scene"></div>
      <script src="js/three.js"></script>
      <script src="js/setup/setup-01.js"></script>
    <% include ../../partials/footer %>
  </body>
</html>
