<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/style.css" ></link>
    <title>404</title>
  </head>
  <body>
    <% include ../partials/header %>
    <h2>Página não encontrada</h2>
    <% include ../partials/footer %>
  </body>
</html>
