<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/style.css" ></link>
    <title>Estudo sobre Three.js</title>
  </head>
  <body>
    <% include ../partials/header %>
      <script src="js/three.js"></script>
      <script src="js/exemplo.js"></script>
    <% include ../partials/footer %>
  </body>
</html>
