<!DOCTYPE html>
<html>
    <head>
         <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>    
            <script src="js/three.js"></script>
            <script src="js/game.js"></script>
        <% include ../partials/footer %>
    </body>
</html>